---
import { REPO, getCommitInfo } from "@/utils/git";

let lang;
let lastUpdated;
let entry;
try {
  ({ lang, lastUpdated, entry } = Astro.locals.starlightRoute);
} catch {
  lang = undefined;
  lastUpdated = undefined;
  entry = undefined;
}
const filePath = entry?.filePath;

const info = filePath ? await getCommitInfo(filePath) : null;
---

{
  lastUpdated && (
    <p>
      <span class="nowrap">
        Last updated:
        <time datetime={lastUpdated.toISOString()}>
          {lastUpdated.toLocaleDateString(lang, {
            dateStyle: "medium",
            timeZone: "UTC",
          })}
        </time>
      </span>{" "}
      {info && (
        <span class="nowrap">
          by <a href={info.committer.href}>{info.committer.name}</a> in{" "}
          <a href={`https://github.com/${REPO}/commit/${info.hash}`}>
            {info.hash.substring(0, 7)}
          </a>
        </span>
      )}
    </p>
  )
}

<style>
  a,
  a:visited {
    color: var(--sl-color-accent-high);
  }

  .nowrap {
    white-space: nowrap;
  }
</style>
